<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <!--<services>
      <service name="RESTFulWCF.Service">
        <endpoint address="" behaviorConfiguration="RESTFulEndpointBehavior" 
                  binding="webHttpBinding"
                  bindingConfiguration="webHttpBindingConfiguration" contract="RESTFulWCF.IService" />
      <host>
        <baseAddresses>
          <add baseAddress="https://localhost:8080/"/>
        </baseAddresses>
      </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingConfiguration">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTFulEndpointBehavior"  >
          <webHttp helpEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>-->
    
    
    <services>
      <service name="RESTFulWCF.Service">
        <endpoint address="" binding="webHttpBinding" 
                  bindingConfiguration="webHttpBindingConfiguration" name="webEndpoint" 
                  behaviorConfiguration="webBehavior" contract="RESTFulWCF.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingConfiguration">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16348" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
        <binding name="GetCreditInformationPortTypeEndpointBinding" />
      </basicHttpBinding>
    </bindings>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
